<div class="container">
    <div style="text-align: center">
        <h1>Recordatorios</h1>
        <form>
            <input name="title">
            <input type="submit" value="Nueva Tarea">
        </form>
        <br>
        {{#collection tag="ul"}}
            <li class="list" {{#done}}class="done"{{/done}}>
                <input type="checkbox" {{#done}}checked{{/done}}>
                {{title}}
            </li>
        {{/collection}}
    </div>
</div>